@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700);

/*Mobile size*/

body {
  background: linear-gradient(#92fe9d, #00C9FF);
  padding-left: 0.5em;
  padding-right: 0.5em;
}

h1, h2, p, a {
  font-family: Libre Baskerville;
}
/*Targets Tech used */
span {
  font-family: Libre Baskerville;
  font-weight: bold;
}
/*authorName used */
.authorSpan {
    font-family: Libre Baskerville;
    font-weight: normal;
}

header {
  height: 5%;
}

img {
  width: 100%;
  border: 1px solid white;
  box-shadow: -5px 6px 5px 0px rgba(0,0,0,0.75);
  margin-bottom: 15px;
}

ul a:link {
  text-decoration: none;
}
