/* Header and Nav */

.clearfix {
  overflow: auto;
}

.titleHeadings {
 float: left;
 padding-left: 1em;
}

.globalNav {
  margin-top: 0;
}

.icon-menu {
  font-size: 3em;
  float: right;
}


.globalNav ul {
  display: none;
  clear: left;
  text-align: center;
}

nav ul li {
  margin-right: .4em;
  font-size: 1em;
  display: inline;
  clear: left;
}

/* Filters */

#filters select {
  width: 100%;
}


/* Footer */

.socmedia {
  width: 1.250em;
  height: 1.250em;
  margin-right: .5em;
}

footer {
  width: 100%;
  border-top: 2px solid #666666;
}
